@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary: #3a3a3a;
  --primary-dark: #302d2d;
  --green: #008104;
  --red: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--primary);
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.box{
    background-color: #fff;
    width: 450px;
    height: 100vh;
    padding: 20px;
    background-color: var(--primary-dark);
    color: white;
    position:relative;
}
h1 {
    font-weight: 500;
    font-size: 32px;
  }
h2 {
    font-weight: 400;
    font-size: 24px;
  }
h3 {
    font-weight: 400;
    font-size: 20px;
  }
.upper,.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.balance{
    margin-top: 20px;
}
.transaction-container{
    margin-top: 20px;
    overflow: auto;
    max-height: 400px;
}
.transaction-head{
  position: sticky;
  top: 0;
  z-index: 200;
  overflow: hidden;
  background-color: var(--primary-dark);
}
.transactions{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  
  }
  .transaction{
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    
}
.transaction .left{
  padding: 7px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.content{
  display: flex;
}
.lower{
  background-color:antiquewhite;
  padding: 10px;
  display: none;
}
.show{
  display: flex;
  gap: 20px;

}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
p{
  font-size: 14px;
}
.status{
  min-height: 40px;
  min-width: 40px;
  display: grid;
  place-items: center;
  color: #fff;
}

.credit{
    background-color: var(--green);
    
}
.debit{
    background-color: var(--red);

}
.t-form{
 
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    color: black;
    padding: 20px;
    border-radius: 5px;
}
.t-form h3 {
    margin-bottom: 10px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-control:first-child {
    flex: 2;
  }
  .inputs {
    display: flex;
    gap: 10px;
  }
  form input {
    padding: 10px 15px;
    outline: 1px solid transparent;
    border: 1px solid black;
    width: 100%;
  }
  form input:focus-visible {
    outline: 1px solid var(--primary-dark);
    border: 1px solid var(--primary-dark);
  }
  .btns-container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }

  .btns-container button{
   width: 100%;
   height: 45px;
   color: white;
   border: none;
   opacity: 0.9;
   transition: 0.3s ease-in-out;
   cursor: pointer;
 }
 .btns-container button:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  
  #earn {
    flex: 6.5;
    background-color: var(--green);
  }
  #expense {
    flex: 5;
    background-color: var(--red);
  }
  @media (max-width: 500px) {
    .box {
      width: 95%;
    }
  }