@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html,body{
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
    font-weight: 300;
    scroll-behavior: smooth;   
}

a{
    text-decoration: none;
}
body{
    display: flex;
}
header{

    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
}
nav h1{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
nav ul{
    list-style: none;
}
nav ul li{
    color: black;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
nav ul li:hover{
    background-color: #ccc;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

main{
    padding: 20px 50px;
    margin-left: 250px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;
}
section h2{
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
section article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section article ul{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
code{
    white-space: pre-line;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
@media(max-width:480px){
    body{
        flex-direction: column;
    }
    header{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}